<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8" />
       <title>{% block title %}Intranet CFK{% endblock %}</title>
       
       <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       {% block stylesheets %}
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
       <style>
       .btn-success {
           background-color: #eebb00;
           border-color: #eebb00;
       }
       .btn-success:hover, .btn-success:focus {
           background-color: #ddaa00;
           border-color: #ddaa00;
       }
       .jumbotron {
           max-width: 500px;
           margin-left: auto;
           margin-right: auto;
      }
      </style>
       {% endblock %}
   
   </head>
 
   <body>
 
   <div class="container">
   {% block content %}{% endblock %}
   </div>
       <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
       {% block javascripts %}{% endblock %}
 
   </body>
</html>