{% extends 'EasyAdminBundle:default:layout.html.twig' %} 



{% block content_title %}
{% spaceless %}
   Impressum
{% endspaceless %}
{% endblock %}

{% block main %}

<p>
Conception: Laurent Meuwly (laurent@lmeuwly.ch)
</p>
<p>
Réalisation: Laurent Meuwly (laurent@lmeuwly.ch)
</p>
Technique:
<br/>
Framework Symfony 3.x

{% endblock %}